APP_VERSION=0.1.0
SPRING_PROFILES_ACTIVE=local
POSTGRES_DB=expense_dev
POSTGRES_USER=expense_dev
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/expense_dev
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SPRING_KAFKA_CONSUMER_GROUP_ID=expense-local
OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4317
OTEL_SERVICE_NAME=expense-api
